
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap');


body{
    background-color: #F2F2F2;
    font-family: 'Lato', sans-serif;
}

h2{
    font-weight: 900;
    font-size: 1.5rem;
    color: #F2F2F2;
    letter-spacing: 0;
    font-family: 'Lato', sans-serif ;
    text-align: center;
}

.home-wrapper{
    position: absolute;
    top: 10%;
    padding-bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 100px;
}

.card{
    display: grid;
    grid-template-columns: 75% 25%;
    grid-gap: 20px;
    position: relative;
    width: 90vw;
    max-width: 1200px;
}

.fas{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    height: 50%;
    padding-left: 10px;
}


.card:hover{
    cursor: pointer;
}

.card-warpper{
    position: relative;
    box-shadow: 0 11px 35px -10px rgba(0,0,0,0.26);
    border-radius: 5px;
    transition: 0.3s;
    width: 100%;
    height: 100%;
    z-index: 10;
    left: 50%;
    transform: translateX(-50%);
}

.card-warpper:hover{
    box-shadow: 0 30px 40px -10px rgba(0,0,0,0.4);
}

.opp{
    background: #7AC437;
}

.challange{
    background: #CD3939;
}

.question{
    background: #7367E6;
}

.text-card-wrapper{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

img{
    border-radius: 5px;
    box-shadow: 0 11px 35px -10px rgba(0,0,0,0.26);
    width: 100%;
    /* max-width: 250px; */
}

.icon-card{
    color: white;
    font-size: 50px;
}

.cards-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
}

@media (max-width: 680px){

    .home-wrapper{
        grid-gap: 75px;
    }
    .card-warpper{
        height: 100%;
        width: 80%;
    }

    .cards-wrapper {
    grid-column-gap: 15px;
    padding-bottom: 10px;
    }

    .card{
        grid-template-columns: 1fr;    
    }

    .text-card-wrapper{
        display: grid;
        grid-template-columns: 13% 87%;
        width: 80%;
    }

    .icon-card{
        position: relative;
        font-size: 30px;
        height: 30px;
        top: 50%;
        transform: translatey(-50%);
    }

    h2{
        font-size: 28px;
        text-align: center;
    }
}